.coro-country {
    background: #fff;
    width: 15rem;
    height: 10rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 5rem 1rem 1rem 1rem;
    border-radius: .5rem;
    padding: .3rem;
    position: relative;
}

.coro-country-img {
    width: 5rem;
    border-radius: .7rem;
    margin: .3rem;
}


.coro-country::after {
    content: url("../images/half-coro.png");
    position: absolute;
    transform: scale(.2);
    left: 1rem;
    top: -3rem;
}

.case {
    margin: .2rem;
}

.cases-amount {
    font-family: objectivity, sans-serif;
    font-size: 1.3rem;
}